{:name quests
 :doc "Provides 'quests' for Braid - activies that users can complete to introduce them to the system"

 :extends
 {:clj
  {:register-db-schema braid.quests.server.core/db-schema
   :register-initial-user-data braid.quests.server.core/initial-user-data-fn
   :register-server-message-handlers braid.quests.server.core/server-message-handlers}

  :cljs
  {:register-header-view braid.quests.client.views/quests-header-view
   :register-styles braid.quests.client.styles/quests-header
   :register-initial-user-data-handler braid.quests.client.core/initial-data-handler
   :register-event-listener braid.quests.client.core/event-listener
   :register-state braid.quests.client.core/state}}}
