{:name emoji
 :doc "Provides emoji autocomplete engine for Braid"

 :extends
 {:cljs
  {:register-autocomplete-engines braid.emoji.client.autocomplete/autocomplete-handler
   :register-message-transforms
   [braid.emoji.client.text-replacements/emoji-ascii-replace
    braid.emoji.client.text-replacements/emoji-shortcodes-replace]
   :register-message-formatters braid.emoji.client.text-replacements/format-emojis
   :register-styles [braid.emoji.client.styles/emojione
                     braid.emoji.client.styles/autocomplete]
   :register-state braid.emoji.client.core/state
   :register-initial-user-data-handler braid.emoji.client.core/initial-data-handler
   :register-group-setting braid.emoji.client.views/extra-emoji-settings-view}

  :clj
  {:register-db-schema braid.emoji.server.db/db-schema
   :register-initial-user-data braid.emoji.server.core/initial-user-data-fn
   :register-server-message-handlers braid.emoji.server.core/server-message-handlers}}}
