{:name emoji
 :doc "Provides emoji autocomplete engine for Braid"

 :extends
 {:cljs
  {:register-autocomplete-engines braid.emoji.autocomplete/engines
   :register-message-transforms
   [braid.emoji.text-replacements/emoji-ascii-replace
    braid.emoji.text-replacements/emoji-shortcodes-replace]
   :register-message-formatters braid.emoji.text-replacements/format-emojis
   :register-styles [braid.emoji.styles/emojione
                     braid.emoji.styles/autocomplete]}}}
