<!DOCTYPE html>
<html>
  <head>
    <title>Braid Email Digest</title>
    <style>
    </style>
  </head>
  <body>
    <h1>Braid Updates</h1>
    <table>
      <thead></thead>
      <tbody>
        <tr>
          <td align="center">
            <div class="threads">
              {{#threads}}
              <div class="thread">
                <ul class="messages">
                  {{#messages}}
                  <li>
                    <span class="sender">{{sender}}</span>
                    <span class="content">{{content}}</span>
                  </li>
                  {{/messages}}
                </ul>
              </div>
              {{/threads}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
