<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Braid - Desktop - Join</title>
  </head>
  <body>
    <p>Join the group {{group-name}}</p>
    <div id="register">
      <p>If you aren't already a Braid user, sign up with your email here</p>
      <form action="//{{api-domain}}/link-register" method="POST">
        <input type="hidden" name="group-id" value="{{group-id}}">
        <input type="hidden" name="now" value="{{now}}">
        <input type="hidden" name="form-hmac" value="{{form-hmac}}">
        <input type="email" name="email" placeholder="email address">
        <input type="submit" value="Register">
      </form>
      or
      <div><a href="/github-register?group={{group-id}}">Sign up with your Github account</a></div>
      <p>If you already have an account <a href="/">Log in</a> first, then come back here</p>
    </div>
    <div id="join">
      <p id="join-text">If you're already logged in, just click here to join this group</p>
      <form action="//{{api-domain}}/link-join" method="POST">
        <input type="hidden" name="now" value="{{now}}">
        <input type="hidden" name="form-hmac" value="{{form-hmac}}">
        <input type="hidden" name="group-id" value="{{group-id}}">
        <input type="submit" value="Join">
      </form>
    </div>
  </body>
</html>

