@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

@top-bar-height: 2rem;
@card-width: 17rem;
@pad: 1rem;
@groups-nav-width: @top-bar-height + @pad * 2;
@avatar-size: 2rem;

@grey-text: #888;

body {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  font-size: 12px;
  background: #eee;
}

.app > .main {
  > .groups-nav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: @groups-nav-width;
    box-sizing: border-box;
  }
  > .page {
    position: absolute;
    left: @groups-nav-width;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.app .main > .groups-nav {
  background: #222;
  padding: @pad;

  .group, .plus {
    width: @top-bar-height;
    height: @top-bar-height;
    border-radius: @pad / 3;
    cursor: pointer;
  }

  .group, .plus {
    line-height: @top-bar-height;
    text-align: center;
    font-size: 1.5em;
  }

  .group {
    margin: 0 0 @pad 0;
    color: #222;
    position: relative;

    &.active:before {
      @w: @pad / 3;
      content: "";
      background: #eee;
      width: @w;
      height: 100%;
      position: absolute;
      left: -@pad;
      border-radius: 0 @w @w 0;
    }

  }
  .plus {
    position: absolute;
    bottom: @pad;
    background: #333;
    color: #222;
    font-family: "fontawesome";
    &:hover {
      background: #555;
    }
  }


  .count {
    .pill-box();
    font-size: 0.6rem;
    color: #aaa;
    background: #B53737;
    color: white;
    border-color: #B53737;
    position: absolute;
    bottom: -0.5rem;
    right: -0.5rem;
  }

}

.floating-box() {
  background: white;
  box-shadow: 0 1px 2px 0 #ccc;
  width: @card-width;
  padding: @pad;
  box-sizing: border-box;
//  display: inline-block;
//  vertical-align: bottom;

  position: relative;
}

.emojione {
  font-size: inherit;
  height: 3ex;
  width: 3.1ex;
  min-height: 20px;
  min-width: 20px;

  display: inline-block;
  margin: -.2ex .15em .2ex;
  line-height: normal;
  vertical-align: middle;
}

.error-banner {
  font-size: 2em;
  background-color: rgba(255, 5, 14, 0.6);
  text-align: center;
  .close {
    margin-left: 1em;
    cursor: pointer;
  }
}


.pill-box() {
  font-size: 0.75em;
  display: inline-block;
  padding: 0 0.5em;
  border-radius: 0.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background-color: #222;
  border: 1px solid #222;
  vertical-align: middle;
  height: 1.75em;
  line-height: 1.75em;
  max-width: 10em;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  vertical-align: middle;
  cursor: pointer;
  &.on {
    color: white !important;
  }
  &.off {
    background-color: white !important;
  }
}

.tag {
  .pill-box();
}
.user {
  .pill-box();

  /* removed for now
  .status {
    margin-left: 0.3em;
    width: 0.85em;
    height: 0.85em;
    display: inline-block;
    border: solid 1px white;
    border-radius: 0.5em;
    box-sizing: border-box;
    vertical-align: middle;
    margin-bottom: 0.15em;
    &.online {
      background: white;
    }
    &.offline {

    }
    &.away {

    }
  }
  */
}

.button {
  .pill-box();
  color: @grey-text;
  border: 1px solid @grey-text;
  background: none;
  margin-left: 1em;
  &:hover {
    color: #eee;
    background: @grey-text;
    cursor: pointer;
  }
  &:active {
    color: #eee;
    background: #666;
    border-color: #666;
    cursor: pointer;
  }
}

.threads {
  position: absolute;
  top: @top-bar-height + @pad + @pad;
  right: 0;
  bottom: @pad;
  left: 0;
  padding-left: @pad;

  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  overflow-x: scroll;
}

.thread {
  margin-right: @pad;

  min-width: @card-width;
  width: @card-width;
  box-sizing: border-box;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  &:before { // switch to after to align at top
    content: "";
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  .card {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 #ccc;
    max-height: 100%;
    background: white;

    .head {
      min-height: 3.5em;
      width: 100%;
      position: relative;
      -webkit-flex-shrink: 0;
      flex-shrink: 0;
      //box-shadow: 0 2px 2px -2px #ccc;

      .tags {
        margin: @pad 2*@pad @pad @pad;
        .pill {
          margin-bottom: 0.5em;
          margin-right: 0.5em;
        }
      }
      .close {
        position: absolute;
        padding: @pad;
        top: 0;
        right: 0;
        z-index: 10;
        cursor: pointer;
      }
    }

    .messages {
      position: relative;
      overflow-y: scroll;
      padding: 0 @pad;
    }
    .message.new {
      -webkit-flex-shrink: 0;
      flex-shrink: 0;
      min-height: 3.5em;
    }

  }
}

.thread {
  .tags-preview {
    .ambiguous .group {
      border: 1px dashed black;
      cursor: pointer;
    }
  }

  .notice {
    box-shadow: 0 1px 2px 0 #ccc;
    padding: @pad;
    margin-bottom: @pad;
    &:before {
      float: left;
      font-size: @avatar-size;
      margin-right: 0.5rem;
      font-family: "fontawesome";
    }
  }

  &.private {
    .card {
      // needs to be a better way
      // which is based on the height of the notice
      max-height: 85%;
    }
    .head:before {
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background: #5f7997;
      position: absolute;
    }
    .notice {
      background: #D2E7FF;
      color: #5f7997;
      &:before {
        content: "\f21b";
      }
    }
  }

  &.limbo {
    .card {
      max-height: 85%; // see note above
    }
    .head:before{
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background: #CA1414;
      position: absolute;
    }
    .notice {
      background: #ffe4e4;
      color: #CA1414;
      &:before {
        content: "\f071";
      }
    }
  }

  .message {
    position: relative;
    margin: 0 0 @pad;

    > .avatar {
      width: @avatar-size;
      height: @avatar-size;
      display: inline-block;
      position: absolute;
      border-radius: 20%;
     }

    .info {
      height: 1rem;
      margin-left: @avatar-size + 0.5rem;
      overflow: hidden;
      white-space: nowrap;
      .nickname {
        font-weight: bold;
      }
      .time {
        margin-left: 0.25rem;
        color: #ccc;
      }
    }

    .content {
      white-space: pre-wrap;
      word-break: break-word;
      display: inline-block;
      padding-left: @avatar-size + 0.5rem;
      width: 100%;
      box-sizing: border-box;
      line-height: 1.25em;
      //vertical-align: middle;

    }

    &.collapse {
      margin-top: -@pad;
      .avatar, .info {
        display: none;
      }
    }

    .prettyprint {
      background-color: #e2f5ff;
      color: black;
      .opn, .clo { color: #e28964; }
      .kwd { color: #785c28; }
      .str { color: green; }
      .typ { color: rgb(65, 125, 255); }
    }

    .multiline-code {
      display: block;
      text-overflow: ellipsis;
      white-space: pre;
      word-break: normal;
      width: 100%;
      overflow-x: hidden;
      &:hover {
        text-overflow: initial;
        overflow-x: scroll;
      }
    }

    &.new {
      padding-left: @pad + 2em;
      padding-top: @pad;
      padding-right: @pad;
      margin-bottom: 0;
      textarea {
        width: 100%;
        border: none;
        resize: vertical;
        box-sizing: border-box;
        &:focus {
          outline: none;
        }
      }
      .autocomplete {
        box-shadow: 0 1px 4px 0 #ccc;
        background: white;
        max-height: 20em;
        overflow: scroll;
        width: @card-width;
        // will be an issue when text area expands
        position: absolute;
        bottom: @pad * 3;
        .result {
          padding: 0.25em 0.5em;
          .emojione, .avatar, .color-block {
            display: block;
            width: 2em;
            height: 2em;
            float: left;
            margin: 0.25em 0.5em 0.25em 0;
          }
          .color-block {
            width: 1em;
          }
          .name {
            height: 1em;
            white-space: nowrap;
          }
          .extra {
            color: #ccc;
          }
          &:hover {
            background: #eee;
          }
          &.highlight {
            .name {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.login {
  .floating-box;
  input {
    width: 100%;
    margin: 0 0 1em;
    padding: 0.25em;
    box-sizing: border-box;
  }
}

.page.me {
  .nickname {
    .error {
      color: red;
    }
  }
  &.active {
    display: block;
  }
  .pending-invites {
    color: #999;
    ul.invites {
      padding-left: 15px;
    }
  }
  .group {
    .name {
      color: #999;
      margin-bottom: 0.25em;
    }
    .invite-form {
      .autocomplete {
        background-color: #999;
        .results {
          list-style-type: none;
          padding-left: 10px;
          .result {
            &:hover {
              background: #eee;
            }
          }
          .active {
            font-weight: bold;
          }
        }
      }
    }
    .new-tag.error {
      border-color: red;
    }
  }
}

.app .main {
  > .header {
    position: absolute;
    top: @pad;
    right: @pad;
    z-index: 100;
    line-height: @top-bar-height;
    color: @grey-text;

    .modal {
      display: none;
      background: white;
      position: absolute;
      cursor: default;
      p {
        line-height: 1.2em;
      }
    }

    .help, .users, .tags {
      display: inline-block;
      margin-right: @pad;
      &:hover {
        color: #000;
        cursor: pointer;
        .modal {
          display: block;
          padding: @pad;
        }
      }
    }
    .help .title:after {
      font-family: "fontawesome";
      content: "\f059";
    }
    .users .title:after {
      font-family: "fontawesome";
      content: "\f007";
      margin-left: 0.25em;
    }
    .tags .title:after {
      font-family: "fontawesome";
      content: "\f02c";
    }
    .search-bar {
      display: inline-block;
      input {
        width: 20em;
      }
    }
    .avatar {
      width: @top-bar-height;
      height: @top-bar-height;
      vertical-align: middle;
      margin-left: @pad;
      border-radius: 20%;
      cursor: pointer;
    }
  }
}

.page {
  > .title {
    height: @top-bar-height;
    line-height: @top-bar-height;
    color: @grey-text;
    margin: @pad;
  }
  > .content {
    overflow: scroll;
    padding: @pad;
    color: @grey-text;
    .description {
      width: @card-width;
      .avatar {
        width: 4rem;
        height: 4rem;
        display: block;
        border-radius: 1rem;
        margin-bottom: @pad;
      }
    }
  }
}

.page.channels {
  .tags {
    margin-top: 1em;
    color: @grey-text;
    .tag-info {
      margin-bottom: 1em;
    }
  }
  .count {
    margin-right: 0.5em;
    &:after {
      font-family: "fontawesome";
      margin-left: 0.25em;
    }
    &.threads-count {
      &:after {
        content: "\f181";
      }
    }
    &.subscribers-count {
      &:after {
        content: "\f0c0";
      }
    }
  }
}
